.keyWrapper {
  height: 5em;
  width: 20em;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

button {
  border: solid 2px grey;
  background-color: aliceblue;
  border-radius: 20px;
  cursor: pointer;
  padding: 1em;
  transition: 0.5s ease-out;
  font-family: "Arial Black", Gadget, sans-serif;
  height: 100%;
}
