.keyWrapper {
  height: 10em;
  width: fit-content;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.keyButton {
  border: solid 2px grey;
  background-color: aliceblue;
  border-radius: 10px;
  cursor: pointer;
  padding: 1em;
  font-family: "Arial Black", Gadget, sans-serif;
  height: 100%;
}

.clickedButton {
  animation: buttonClick 2s linear;
}

.notes {
  border: solid 2px grey;
  background-color: aliceblue;
  display: block;
  margin: 1em;
  border-radius: 20px;
  padding: 1em;
  font-family: "Arial Black", Gadget, sans-serif;
}

.controlsWrapper {
  display: flex;
  justify-content: center;
}

@keyframes buttonClick {
  0%   {background-color:white;}
}
